@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700');

body {
	font-size: 16px;
	margin: 0px;
	font-family: "Roboto";
	color: #FFFFFF;

	background: #0270a0; /* Old browsers */
	background: -moz-linear-gradient(top,  #0270a0 0%, #06214a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #0270a0 0%,#06214a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #0270a0 0%,#06214a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0270a0', endColorstr='#06214a',GradientType=0 ); /* IE6-9 */
}

#loading {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

	background-size: cover;
	background-attachment: fixed;
	background-position: center center;

	-webkit-filter: opacity(70%);
	background-image: url(../images/default_bg.jpg);

	-webkit-box-shadow: inset 9999px 9999px 9999px 9999px rgba(6, 33, 74, 0.65);
	-moz-box-shadow: inset 9999px 9999px 9999px 9999px rgba(6, 33, 74, 0.65);
	box-shadow: inset 9999px 9999px 9999px 9999px rgba(6, 33, 74, 0.65);
	
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	
	text-align: center;
}

#loading .fa {
	font-size: 5em;
	margin: auto;
}

.list {
	width: 100%; 
	height: 100%; 
	background-color: #06214a; 
}

.list-item {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;

	background: #0270a0; /* Old browsers */
	background: -moz-linear-gradient(top,  #0270a0 0%, #06214a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #0270a0 0%,#06214a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #0270a0 0%,#06214a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0270a0', endColorstr='#06214a',GradientType=0 ); /* IE6-9 */
}

.list-item:nth-of-type(even) { 

	background: #06214a; /* Old browsers */
	background: -moz-linear-gradient(top,  #06214a 9%, #0270a0 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #06214a 9%,#0270a0 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #06214a 9%,#0270a0 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06214a', endColorstr='#0270a0',GradientType=0 ); /* IE6-9 */

}

.list-item .accent-image { 
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

	/*background-size: cover;*/
	/*background-size: auto 100%;*/
	background-attachment: fixed;
	background-position: center center;

	-webkit-filter: opacity(70%);

	-webkit-box-shadow: inset 9999px 9999px 9999px 9999px rgba(6, 33, 74, 0.65);
	-moz-box-shadow: inset 9999px 9999px 9999px 9999px rgba(6, 33, 74, 0.65);
	box-shadow: inset 9999px 9999px 9999px 9999px rgba(6, 33, 74, 0.65);

}
.list-item .accent-image .overlay { 
	width: 100%;
	height: 100%;
} 

.list-item .accent-image > * {
	flex: 1 1 auto;
}

.list-item .content {
	width: 100%; 
	height: 100%;

	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;	
}

.list-item .title {
	font: 300 3em "Roboto";
	color: #FFFFFF;
	padding: 10px 35px 10px 35px;
	text-transform: uppercase;
	text-align:center;
	width: 100%;
	box-sizing: border-box;
	position: absolute;
}

.list-item:nth-of-type(odd) .title {
	padding-left: 165px;
	top: 10%;
	right: 0px;
	text-align: right;
}

.list-item:nth-of-type(even) .title {
	padding: 10px 165px 10px 25px;
	top: 35%;
	left: 0px;
	text-align: left;
}

.list-item .desc {
	font: 300 1em "Roboto";
	color: #FFFFFF;
	padding: 20px;

	width: 100%;
	box-sizing: border-box;
	position: absolute;
}

.list-item:nth-of-type(odd) .desc {
	top: 32%;
	right: 0px;
}

.list-item:nth-of-type(even) .desc {
	top: 55%;
	left: 0px;
}

.list-item .logo {
	position: absolute;
	width: 55%;
	text-align: center;
}

.list-item .logo img {
	width: 80%;
	max-height: 100px;
}

.list-item:nth-of-type(odd) .logo {
	bottom: 10%;
	right: 0px;
}

.list-item:nth-of-type(even) .logo {
	top: 10%;
	right: 0px;
}

.list-item:nth-of-type(odd) .top-triangle {
	width: 92%;
	height: 50%;
	position: absolute;
	top: 0px;
	left: 0px;

	transform: translate(-60%, -60%) rotate(45deg);
	-webkit-transform: translate(-60%, -60%) rotate(45deg);
	-moz-transform: translate(-60%, -60%) rotate(45deg);
	-o-transform: translate(-60%, -60%) rotate(45deg);
	-ms-transform: translate(-60%, -60%) rotate(45deg);

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0270a0+0,06214a+100 */
	background: #0270a0; /* Old browsers */
	background: -moz-linear-gradient(top,  #0270a0 0%, #06214a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #0270a0 0%,#06214a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #0270a0 0%,#06214a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0270a0', endColorstr='#06214a',GradientType=0 ); /* IE6-9 */

}

.list-item:nth-of-type(odd) .bottom-triangle {
	width: 85%;
	height: 100%;
	position: absolute;
	bottom: 0px;
	right: 0px;

	transform: translate(30%, 40%) rotate(45deg);
	-webkit-transform: translate(30%, 40%) rotate(45deg);
	-moz-transform: translate(30%, 40%) rotate(45deg);
	-o-transform: translate(30%, 40%) rotate(45deg);
	-ms-transform: translate(30%, 40%) rotate(45deg);

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#06214a+0,0270a0+100 */
	background: #06214a; /* Old browsers */
	background: -moz-linear-gradient(top,  #06214a 0%, #0270a0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #06214a 0%,#0270a0 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #06214a 0%,#0270a0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06214a', endColorstr='#0270a0',GradientType=0 ); /* IE6-9 */

}

.list-item:nth-of-type(even) .top-triangle {
	width: 85%;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;

	transform: translate(30%, -40%) rotate(-45deg);
	-webkit-transform: translate(30%, -40%) rotate(-45deg);
	-moz-transform: translate(30%, -40%) rotate(-45deg);
	-o-transform: translate(30%, -40%) rotate(-45deg);
	-ms-transform: translate(30%, -40%) rotate(-45deg);

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0270a0+0,06214a+100 */
	background: #0270a0; /* Old browsers */
	background: -moz-linear-gradient(top,  #0270a0 0%, #06214a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #0270a0 0%,#06214a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #0270a0 0%,#06214a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0270a0', endColorstr='#06214a',GradientType=0 ); /* IE6-9 */
}

.list-item:nth-of-type(even) .bottom-triangle {
	width: 92%;
	height: 50%;
	position: absolute;
	bottom: 0px;
	left: 0px;

	transform: translate(-60%, 60%) rotate(-45deg);
	-webkit-transform: translate(-60%, 60%) rotate(-45deg);
	-moz-transform: translate(-60%, 60%) rotate(-45deg);
	-o-transform: translate(-60%, 60%) rotate(-45deg);
	-ms-transform: translate(-60%, 60%) rotate(-45deg);

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#06214a+0,0270a0+100 */
	background: #06214a; /* Old browsers */
	background: -moz-linear-gradient(top,  #06214a 0%, #0270a0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #06214a 0%,#0270a0 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #06214a 0%,#0270a0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06214a', endColorstr='#0270a0',GradientType=0 ); /* IE6-9 */
}


.rank { 
	font: 500 6em "Roboto";
	background: #fccc2d; /* Old browsers */
	background: -moz-linear-gradient(top,  #fccc2d 13%, #fdf8c6 33%, #dbb75f 71%, #f9e27c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fccc2d 13%,#fdf8c6 33%,#dbb75f 71%,#f9e27c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fccc2d 13%,#fdf8c6 33%,#dbb75f 71%,#f9e27c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fccc2d', endColorstr='#f9e27c',GradientType=0 ); /* IE6-9 */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	position: absolute;
}

.list-item:nth-of-type(odd) .rank {
	top: 60%;
	left: 50px;
}

.list-item:nth-of-type(even) .rank {
	top: 15%;
	left: 40px;
}

.show-more {
	width: 159px;
	height: 159px;
	/*background-color: #FFFFFF;*/
	flex: 0 0 auto!important; 

	display:flex;
	flex-flow: column nowrap;

	position: absolute;
	z-index: 12;

	transform: translate(-50%, 0px) rotate(45deg);
	-webkit-transform: translate(-50%, 0px) rotate(45deg);
	-moz-transform: translate(-50%, 0px) rotate(45deg);
	-o-transform: translate(-50%, 0px) rotate(45deg);
	-ms-transform: translate(-50%, 0px) rotate(45deg);
}

.list-item:nth-of-type(odd) .show-more  {  
	top: 30px;
	left: 0px; 
}

.list-item:nth-of-type(even) .show-more  {  
	bottom: 30px;
	left: 0px; 
}

.show-more .material-icons { 
	font-size: 4em;

	background: #fccc2d; /* Old browsers */
	background: -moz-linear-gradient(top,  #fccc2d 13%, #fdf8c6 33%, #dbb75f 71%, #f9e27c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fccc2d 13%,#fdf8c6 33%,#dbb75f 71%,#f9e27c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fccc2d 13%,#fdf8c6 33%,#dbb75f 71%,#f9e27c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fccc2d', endColorstr='#f9e27c',GradientType=0 ); /* IE6-9 */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	margin: 15px 15px 0px auto;

	transform: rotate(-45deg) ;
	-webkit-transform: rotate(-45deg) ;
	-moz-transform: rotate(-45deg) ;
	-o-transform: rotate(-45deg) ;
	-ms-transform: rotate(-45deg) ;
}



#details {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;

	display: none;
	overflow: hidden;
}

.background-triangle {
	width: 200%;
	height: 200%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 15;

	transform: translate(-58%, 30%) rotate(-45deg);
	-webkit-transform: translate(-58%, 30%) rotate(-45deg);
	-moz-transform: translate(-58%, 30%) rotate(-45deg);
	-o-transform: translate(-58%, 30%) rotate(-45deg);
	-ms-transform: translate(-58%, 30%) rotate(-45deg);

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#06214a+0,0270a0+100 */
	background: #06214a; /* Old browsers */
	background: -moz-linear-gradient(top,  #06214a 0%, #0270a0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #06214a 0%,#0270a0 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #06214a 0%,#0270a0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06214a', endColorstr='#0270a0',GradientType=0 ); /* IE6-9 */
}

#details.active {
	z-index: 15;
}

#details .content {
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 20;
	padding: 20px;
	box-sizing: border-box;
}

#details .content h3 {
	text-transform: uppercase;
	margin: 0px 0px 2px 0px;
}

#details .content .type {
	font-size: .70em;
	margin-bottom: 10px;
}

#details .content .crowd {
	font-size: .70em;
	margin-bottom: 10px;
}

#details .content .hours {
	font-size: .70em;
	margin-bottom: 10px;
}

#details .content .logo {
	position: absolute;
	right: 20px;
	bottom: 325px;
	width: 55%;
	text-align: center;
}

#details .content .logo img {
	width: 150px;
	max-height: 75px;
}

#details .content .social {
	margin-top: 15px;
	text-align: center;
}

#details .content .social i.fa {
	color: #FFFFFF;
	margin: 0px 10px;
	font-size: 30px;
	display: inline-block;
}

#details #close-details {
	position: absolute;
	top: 15px;
	left: 85px;
	z-index: 25;
}

#details #close-details .material-icons  { 
	font-size: 3em;
	background: #fccc2d; /* Old browsers */
	background: -moz-linear-gradient(top,  #fccc2d 13%, #fdf8c6 33%, #dbb75f 71%, #f9e27c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fccc2d 13%,#fdf8c6 33%,#dbb75f 71%,#f9e27c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fccc2d 13%,#fdf8c6 33%,#dbb75f 71%,#f9e27c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fccc2d', endColorstr='#f9e27c',GradientType=0 ); /* IE6-9 */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.material-icons {
	color: rgba(255,255,255,0.81);
	text-align: center;
}


#list { display: flex; flex-flow: column wrap; }

.material-icons {
	text-rendering: optimizeLegibility;
}

@media (max-width: 400px) {
	.list-item .accent-image { 
		
	}
}
